.App {
  text-align: center;
  height: 100vh;
}

.label-style {
  @apply text-[14px] text-gray-400;
}
.form-style {
  @apply rounded-2xl bg-blue-100 px-4 py-3 text-[14px] leading-[24px] text-gray-900 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-gray-600 placeholder:text-lg placeholder:font-medium text-xl text-left font-medium focus:outline-none
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
